.b-growl {
  position: fixed;
  width: 300px;
  bottom: 20px;
  left: 20px;
  background: none;
  font-size: .9em;

  &__item {
    padding: 10px;
    color: $light-grey;
    background: $white-grey;
    border-radius: 2px;
    border: solid 1px $green;
    margin: 5px;
  }
}
