.b-welcome {
  padding: 160px 20px 120px 20px;
  // color: $red;
  margin-top: -60px;
  color: $white;
  z-index: 9;
  position: relative;
  background: linear-gradient(to right top, #111030, #1B1A4C);
  background-image: url('/asset/frms/img/Planets.svg');
  background-size: cover;
  background-position: center;

  &:after {
    border-bottom: solid 100px transparent;
    border-left: solid 100px #fff;
  }

  * {
    background: none;
  }

  &__cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba($dark-grey, .1);
  }


  .b-graf--quote1 {
    // color: $dark-grey;
    color: $white;
  }

}
