doctype html
html
  head
    meta(charset="utf-8")
    style.
      html {
        overflow: hidden;
        background: #fff;
      }
      body {
        margin: 0 auto;
        padding: 10px 0;
      }
  body
  div#container
  script.
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"))

    twitId = window.location.search.split('id=')[1]
    twttr.ready(function(){
      $container = document.getElementById('container')
      twttr.widgets.createTweet(twitId, $container);
    })
  script(src="#{ASSET_URL}js/iframeResizer.contentWindow.min.js")
