.i-table {

  width: 100%;
  padding: 50px 0;

  td, th {
    &:first-child {
      text-align: left;
    }

    padding: 12px 20px;

    font-weight: 900;
    font-size: 1.2em;
    text-align: right;

  }

  td {
    &:first-child {
      font-family: $font-stack-sans;
    }
    font-family: monospace;
  }

  th {
    font-size: 1.4em;
  }

  tr {
    &:first-child {
      border-bottom: solid 1px $white-grey;
    }
    border-bottom: solid 1px $white-grey;
  }

}
