.switch {
  position: relative; width: 83px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch-checkbox {
  display: none;
}
.switch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 1px solid #999999; border-radius: 60px;
}
.switch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switch-inner:before, .switch-inner:after {
  display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
  font-size: 15px; color: white; font-family: $font-stack-sans; font-weight: bold;
  box-sizing: border-box;
}
.switch-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: $green;
  color: #FFFFFF;
}
.switch-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: $white-grey;
  color: #999999;
  text-align: right;
}
.switch-switch {
  display: block; width: 30px; margin: -1px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 54px;
  border: 1px solid #999999; border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
  right: 0px;
}
